<h1>シフト申請修正</h1>

<%
=begin%>

やりたい処理
シフト申請一覧　→ シフト申請修正　→ 修正ボタン押下　→ シフト申請一覧に遷移しメッセージ表示：”シフト申請を編集しました”

現在なってしまう処理
シフト申請一覧　→ シフト申請修正　→ 修正ボタン押下　→ シフト一覧に遷移しメッセージ表示：”シフトを編集しました”

この書き方だとシフト申請一覧からシフト申請修正に遷移した際にscheduleのレコードは反映されるが
修正ボタンを押すとscheduleコントローラーのupdateアクションに飛びattendance_requestコントローラーのeditは処理されない。
scheduleのレコードを修正する事には変わりないが遷移先がシフト申請一覧かつ "シフトを修正しました" のメッセージが表示されてしまう。
<%
=end%>

<%= form_with(model: [ :employee, @schedule ]) do |form| %>
  <%= form.label :starting_time, "出勤日　：　" %>
  <%= form.date_select :starting_time %><br><br>
  <%= form.label :starting_time, "出勤時間：　" %>
  <%= form.time_select :starting_time %><br><br>
  <%= form.label :closing_time, "退勤時間：　" %>
  <%= form.time_select :closing_time %><br><br>
  <%= form.submit '修正', class: 'btn btn-default' %>
<% end %>

<%
=begin%>

 fields_forを使用するとシフト申請一覧からシフト申請修正に遷移する際にscheduleのデータが反映されない

<%= form_with(model: [ :employee, @attendance_request ]) do |form| %>
  <%=  form.fields_for :schedules do |form|  %>
    <%= form.label :starting_time, "出勤日　：　" %>
    <%= form.date_select :starting_time %><br><br>
    <%= form.label :starting_time, "出勤時間：　" %>
    <%= form.time_select :starting_time %><br><br>
    <%= form.label :closing_time, "退勤時間：　" %>
    <%= form.time_select :closing_time %><br><br>
  <% end %>
  <%= form.submit '修正', class: 'btn btn-default' %>
<% end %>

=end%>
