<h1>シフト申請一覧</h1>

  <table class="table">
    <tr>
      <th>出勤日</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>詳細</th>
      <th>修正</th>
      <th>削除</th>
    </tr>
    <% @attendance_requests.each do |attendance| %>
    <tr>
      <td><%= attendance.schedule.starting_time %></td>
      <td><%= attendance.schedule.starting_time %></td>
      <td><%= attendance.schedule.closing_time %></td>
      <td><%= link_to '詳細', employee_attendance_request_path(attendance) %></td>
      <td><%= link_to "編集", edit_employee_attendance_request_path(attendance) %></td>
      <td><%= link_to '削除', employee_attendance_request_path(attendance), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
    <% end %>
  </table>
