<div class="container">
  <div class="pt-5 container"></div>
  <div class="row pb-5">
    <div class="col-5 mx-auto">
      <p class="h1 text-center">従業員情報修正</p>
    </div>
  </div>
  <div class="container py-3"></div>

  <%= form_with(model: [ :administrator, @employee], local: true) do |form| %>
    <div class="container mb-4 text-center">
      <div class="row mb-3 justify-content-center">
        <%= form.label :last_name, "姓", class: "col-form-label col-sm-2 text-center" %>
        <div class="col-sm-4">
          <%= form.text_field :last_name, class: "form-control", id: "date_sample"%>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <%= form.label :first_name, "名", class: "col-form-label col-sm-2 text-center" %>
        <div class="col-sm-4">
          <%= form.text_field :first_name, class: "form-control", id: "date_sample"%>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <%= form.label :zipcode, "郵便番号", class: "col-form-label col-sm-2 text-center" %>
        <div class="col-sm-4">
          <%= form.text_field :zipcode, class: "form-control", id: "date_sample", pattern: "[0-9][0-9]*", title: "半角数字のみ有効です。", length: 7 %>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <%= form.label :address, "住所", class: "col-form-label col-sm-2 text-center" %>
        <div class="col-sm-4">
          <%= form.text_field :address, class: "form-control", id: "date_sample", maxlength: 15%>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <%= form.label :phone_number, "電話番号", class: "col-form-label col-sm-2 text-center", pattern: "[0-9][0-9]*", title: "半角数字のみ有効です。", maxlength: 15  %>
        <div class="col-sm-4">
          <%= form.text_field :phone_number, class: "form-control", id: "date_sample"%>
        </div>
      </div>
      <div class="row mb-3 justify-content-center">
        <%= form.label :email, "メールアドレス", class: "col-form-label col-sm-2 text-center" %>
        <div class="col-sm-4">
          <%= form.text_field :email, class: "form-control", id: "date_sample"%>
        </div>
      </div>
    </div>
    <div class="container py-3"></div>
    <div class="pt-4 container"></div>
    <div class="container text-center">
      <%= form.submit '更新', class: "btn btn-outline-primary text-center" %>
    </div>
  <% end %>
</div>
