<h1>欠勤申請編集</h1>

<%= form_with model: @absence_request, local: true do |form| %>
  <%= form.label :starting_time, "出勤日　：　" %>
  <%= form.label :starting_time, "出勤時間：　" %>
  <%= form.label :starting_time, "退勤時間：　" %>
  <%= form.label :reason, "欠勤理由　：　" %>
  <%= form.text_area :content, class: "field_area", size: "70*40" %><br><br>
  <%= form.submit '修正', class: 'btn btn-default' %>
<% end %>
