<h1>欠勤申請一覧</h1>

  <table class="table">
    <tr>
      <th>出勤日</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>詳細</th>
      <th>申請状態</th>
      <th>修正</th>
      <th>削除</th>
    </tr>
    <% @absence_requests.each do |absence| %>
    <tr>
      <td><%= absence.schedule.starting_time %></td>
      <td><%= absence.schedule.starting_time %></td>
      <td><%= absence.schedule.closing_time %></td>
      <td><%= link_to '詳細', absence_request_path(absence) %></td>
      <td></td>
      <td><%= link_to "編集", edit_absence_request_path(absence), data: { confirm: '本当に編集していいですか？' } %></td>
      <td><%= link_to '削除', absence_request_path(absence), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
    <% end %>
  </table>
