<div class="container">
  <div class="pt-5 container"></div>
  <div class="row pb-5">
    <div class="col-5 mx-auto">
      <p class="h1 text-center">従業員一覧</p>
    </div>
  </div>
  <div class="container py-3"></div>
  <div class="col-1 mx-auto">
    <%= link_to "新規登録", new_employee_administrator_administrators_path, class: "btn btn-outline-primary text-center" %>
  </div>
  <div class="container py-3"></div>

  <table class="table">
    <tr>
      <th>氏名</th>
      <th>詳細</th>
      <th>修正</th>
      <th>削除</th>
    </tr>
    <% @employee.each do |employee| %>
    <tr>
      <td><%= employee.last_name %><%= employee.first_name %></td>
      <td><%= link_to '詳細', show_employee_administrator_administrator_path(employee.id) %></td>
      <td><%= link_to '修正', edit_employee_administrator_administrator_path(employee.id) %></td>
      <td><%= link_to '削除', destroy_employee_administrator_administrator_path(employee.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
    <% end %>
  </table>
  <div class="row pb-5">
    <div class="col-5 mx-auto">
    <%= paginate @employee %>
    </div>
  </div>
</div>
