<h2>管理者新規登録</h2>
</div>
<%= form_with model:@administrator do |form| %>
  <div class="field">
    <%= form.label :last_name, "姓" %>
    <%= form.text_field :last_name, id: "last_name" %>
  </div>
  <div class="field">
    <%= form.label :first_name, "名" %>
    <%= form.text_field :first_name, id: "first_name" %>
  </div>
  <div class="field">
    <%= form.label :zipcode, "郵便番号" %>
    <%= form.text_field :zipcode, id: "zipcode", pattern: "[0-9][0-9]*", title: "半角数字のみ有効です。", length: 7 %>
  </div>
  <div class="field">
    <%= form.label :address, "住所" %>
    <%= form.text_field :address, class: "form-control", id: "address", maxlength: 15 %>
  </div>
  <div class="field">
    <%= form.label :email, "メールアドレス" %>
    <%= form.email_field :email, id: "email" %>
  </div>
  <div class="field">
    <%= form.label :phone_number, "電話番号" %>
    <%= form.text_field :phone_number, id: "phone_number", pattern: "[0-9][0-9]*", title: "半角数字のみ有効です。", maxlength: 15 %>
  </div>
  <div class="field">
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password, id: "password", pattern: "^[0-9A-Za-z]+$", title: "半角英数字のみ有効です。", minlength: 6, maxlength: 15 %>
  </div>
  <div class="field">
    <%= form.label :password, "パスワード再入力" %>
    <%= form.password_field :password, id: "password", pattern: "^[0-9A-Za-z]+$", title: "半角英数字のみ有効です。", minlength: 6, maxlength: 15 %>
  </div>
  <%= form.submit "登録", class: "btn btn-primary btn-sm btn-block" %>

  <h3><%= link_to "ログインはこちらから", 'administrators/sign_in'%></h3>
<% end %>
