<div class="container">
  <div class="pt-5 container"></div>
  <div class="row pb-5">
    <div class="col-5 mx-auto">
      <p class="h1 text-center">シフト一覧</p>
    </div>
  </div>
  <div class="col-1 mx-auto">
    <%= link_to "シフト申請", new_employee_attendance_request_path, class: "btn btn-outline-primary text-center" %>
  </div>
  <div class="container py-3"></div>

  <table class="table">
    <tr>
      <th>出勤者</th>
      <th>出勤日</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>欠勤申請</th>
    </tr>
    <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.employee.last_name %></td>
      <td><%= schedule.starting_time.strftime('%Y/%m/%d') %></td>
      <td><%= schedule.starting_time.strftime('%H:%M') %></td>
      <td><%= schedule.closing_time.strftime('%H:%M') %></td>
<%
=begin%>
 TODO:欠勤申請されている場合非表示
<%
=end%>
        <td><%= link_to "欠勤申請", new_employee_schedule_absence_request_path(schedule.id) %></td>
    </tr>
    <% end %>
  </table>
  <div class="row mt-5">
    <div class="col-5 mx-auto">
    <%= paginate @schedules %>
    </div>
  </div>
</div>
  <% binding.pry %>

<%= month_calendar schedules: @schedules do |date, schedules| %>
  <%= date.day %>
  <%= schedules.each do |schedule| %>
  <%= schedule.employee.last_name %>
  <%= schedule.starting_time.strftime('%Y/%m/%d') %>
  <%= schedule.starting_time.strftime('%H:%M') %>
  <%= schedule.closing_time.strftime('%H:%M') %>
  <% end %>
<% end %>
