<h1>シフト一覧</h1>
<%= link_to "シフト申請", new_employee_attendance_request_path %>

  <table class="table">
    <tr>
      <th>出勤者</th>
      <th>出勤日</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>欠勤申請</th>
    </tr>
    <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.employee.last_name %></td>
      <td><%= schedule.starting_time.strftime('%Y/%m/%d') %></td>
      <td><%= schedule.starting_time.strftime('%H:%M') %></td>
      <td><%= schedule.closing_time.strftime('%H:%M') %></td>
      <td><%= link_to "欠勤申請", new_employee_schedule_absence_request_path(schedule.id) %></td>
    </tr>
    <% end %>
  </table>
